*{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
